<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href="/css/styling.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/footer.css">
  <link rel="stylesheet" type="text/css" href="/css/popups.css">
  <link rel="stylesheet" type="text/css" href="/css/saved.css">
  <link rel="stylesheet" type="text/css" href="/css/for-you.css">
  <link rel="stylesheet" type="text/css" href="/css/media-scroller.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  <title>What to Watch</title>

</head>
<body>
<header th:insert="~{block/header :: header}"></header>
<div th:insert="~{block/reg-log-popups :: reg-log-popups}"></div>

<div id="container">

<!--  //TODO: if not authorized remove-->

  <div class="movies-container-wrapper" id="top-container">
    <div class="title">
      <p>Based on your most liked movies</p>
    </div>
    <div class="media-container">
      <div class="media-scroller" id="similar-based-scroller">

      </div>
    </div>
  </div>

  <div class="movies-container-wrapper">
    <div class="title">
      <p>Based on your most liked directors</p>
    </div>
    <div class="media-container">
      <div class="media-scroller" id="director-based-scroller">

      </div>
    </div>
  </div>

  <div class="movies-container-wrapper">
    <div class="title">
      <p>Based on your most viewed genres</p>
    </div>
    <div class="media-container">
      <div class="media-scroller" id="genres-based-scroller">

      </div>
    </div>
  </div>


</div>

<svg>
  <symbol id="next" viewBox="0 0 256 512">
    <path fill="white"
          d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/>
  </symbol>

  <symbol id="previous" viewBox="0 0 256 512">
    <path fill="white"
          d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"/>
  </symbol>
</svg>
<footer th:insert="~{block/footer :: footer}"></footer>
<script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
<script type="module" src="/js/for-you.js"></script>
<script src="/js/header.js"></script>
</body>
</html>