<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href="/css/styling.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/footer.css">
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  <title>What to Watch</title>

</head>
<body>
<header th:insert="~{block/header :: header}"></header>
<div th:insert="~{block/reg-log-popups :: reg-log-popups}"></div>

<footer th:insert="~{block/footer :: footer}"></footer>
</body>
</html>