<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <link rel="stylesheet" type="text/css" href="/css/styling.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/popups.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>What to Watch</title>
</head>
<body>
<header th:insert="~{block/header :: header}"></header>
<div th:insert="~{block/reg-log-popups :: reg-log-popups}"></div>

<div class="bg-img">
    <div class="blur">
    </div>
</div>

<div class="content">
    <p>Do not know what to watch?</p>
    <a th:href="@{/movie/all}">Lets find out!</a>
</div>

<footer th:insert="~{block/footer :: footer}"></footer>
<script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
<script src="/js/header.js"></script>
<script type="module" src="/js/index.js"></script>
</body>
</html>