<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <link rel="stylesheet" type="text/css" href="/css/styling.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/popups.css">
    <link rel="stylesheet" type="text/css" href="/css/media-scroller.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/movie.css">
    <title>What to Watch</title>
</head>
<body>
<header th:insert="~{block/header :: header}"></header>
<div th:insert="~{block/reg-log-popups :: reg-log-popups}"></div>
<div class="movie-page-container">
    <div class="container-content">
        <div class="left-container">
            <div class="left-container-content">
                <img id="movie-poster">
                <a id="trailer-btn" class="btn"><span class="material-symbols-outlined">play_circle</span>
                    <p>Trailer</p></a>
                <button id="watched-btn" class="btn"><span class="material-symbols-outlined">add</span>Watched
                </button>
                <button id="like-btn" class="btn"><span class="material-symbols-outlined">favorite</span>Like</button>
                <button id="ignore-btn" class="btn"><span class="material-symbols-outlined">close</span>Ignore</button>
            </div>
        </div>
        <div class="right-container">
            <div class="right-container-top">
                <div class="right-container-top-content">
                    <div class="movie-title">
                    </div>
                    <div class="addition-content">
                        <div id="imdb-rating" class="addition-content-element">
                        </div>
                        <div id="metacritic-rating" class="addition-content-element">
                        </div>
                    </div>
                </div>
            </div>
            <div class="movie-description">
            </div>
        </div>
        <div class="empty-div"></div>
    </div>
    <div class="bottom-container">
        <div class="similar-container">
            <div class="title">
                <p>Similar</p>
            </div>
            <div class="media-container">
                <div class="media-scroller" id="movie-scroller">

                </div>
            </div>
        </div>

        <div class="cast-container">
            <div class="title">
                <p>Cast</p>
            </div>
            <div class="media-container">
                <div class="media-scroller" id="cast-scroller">
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="~{block/footer :: footer}"></footer>
<script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
<script src="/js/header.js"></script>
<script type="module" src="/js/movie.js"></script>
</body>
</html>