<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/css/styling.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/popups.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/movie.css">
    <title>What to Watch</title>
</head>
<body>
<header th:insert="~{block/header :: header}"></header>
<div th:insert="~{block/reg-log-popups :: reg-log-popups}"></div>
<div class="movie-page-container">
    <div class="container-content">
        <div class="left-container">
            <div class="left-container-content">
                <img id="movie-poster">
                <a id="trailer-btn" class="btn"><span class="material-symbols-outlined">play_circle</span>
                    <p>Trailer</p></a>
                <button id="watched-btn" class="btn"><span class="material-symbols-outlined">add</span>Add to Watched
                </button>
                <button id="like-btn" class="btn"><span class="material-symbols-outlined">favorite</span>Like</button>
                <button id="ignore-btn" class="btn"><span class="material-symbols-outlined">close</span>Ignore</button>
            </div>
        </div>
        <div class="right-container">
            <div class="right-container-top">
                <div class="right-container-top-content">
                    <div class="movie-title">
<!--                        <p id="title">Bladerunner 2049. 2017</p>-->
                    </div>
                    <div class="addition-content">
                        <div id="imdb-rating" class="addition-content-element">
<!--                            <img class="rating-icon"-->
<!--                                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/IMDB_Logo_2016.svg/2560px-IMDB_Logo_2016.svg.png">-->
<!--                            <p class="rating-rate">8.8</p>-->
<!--                            <p class="rating-votes">(2406964)</p>-->
                        </div>
                        <div id="metacritic-rating" class="addition-content-element">
<!--                            <img class="rating-icon"-->
<!--                                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Metacritic_logo.svg/2560px-Metacritic_logo.svg.png">-->
<!--                            <p class="rating-rate">74</p>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="movie-description">
<!--                <p><span>Released:</span> 2010-07-16</p>-->
<!--                <p><span>Runtime:</span> 2h 28min</p>-->
<!--                <p><span>Directors:</span> Michael Jelenic, Aaron Horvath</p>-->
<!--                <p><span>Writes:</span> Christopher Nolan</p>-->
<!--                <p><span>Studious:</span> Warner Bros., Legendary Entertainment, Syncopy</p>-->
<!--                <p><span>Genres:</span> Action, Adventure, Sci-Fi</p>-->
<!--                <p><span>Awards:</span> Top rated movie #14 | Won 4 Oscars, 159 wins & 220 nominations total</p>-->
<!--                <p><span>Country:</span> USA, UK</p>-->
<!--                <p><span>Budget:</span> $160,000,000 (estimated)</p>-->
<!--                <p><span>Opening weekend USA:</span> $62,785,337</p>-->
<!--                <p><span>Cumulative worldwide gross:</span> $213,928,762</p>-->
<!--                <p class="movie-plot">A thief who steals corporate secrets through the use of dream-sharing technology-->
<!--                    is given the inverse-->
<!--                    task of planting an idea into the mind of a C.E.O., but his tragic past may doom the project and his-->
<!--                    team to disaster. A thief who steals corporate secrets through the use of dream-sharing technology-->
<!--                    is given the inverse task of planting an idea into the mind of a C.E.O., but his tragic past may-->
<!--                    doom the project and his team to disaster.</p>-->
            </div>
            <div>

            </div>
        </div>
        <div class="empty-div"></div>
    </div>
    <div class="bottom-container">
        <div class="similar-container">
            <div class="title">
                <p>Similar:</p>
            </div>
            <div class="movie-card-container">

<!--                <a href="/movie.html">-->
<!--                    <div class="card">-->
<!--                        <img src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/950e439404c3d5eddd86ae876cec83bf_949b5045-2503-4883-bcd2-ff1f31f5b14c_500x749.jpg?v=1573588746">-->
<!--                    </div>-->
<!--                </a>-->
<!--                <a href="/movie.html">-->
<!--                    <div class="card">-->
<!--                        <img src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/reservoirdogs_500x749.jpg?v=1620680961">-->
<!--                    </div>-->
<!--                </a>-->
<!--                <a href="/movie.html">-->
<!--                    <div class="card">-->
<!--                        <img src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/reservoirdogs_500x749.jpg?v=1620680961">-->
<!--                    </div>-->
<!--                </a>-->
<!--                <a href="/movie.html">-->
<!--                    <div class="card">-->
<!--                        <img src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/ef4b93ef8f7157de3f97ae1ff5d21b56_0526bb98-1f4a-4da5-b928-b0025f5e6371_500x749.jpg?v=1573585487">-->
<!--                    </div>-->
<!--                </a>-->
<!--                <a href="/movie.html">-->
<!--                    <div class="card">-->
<!--                        <img src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/8f6c29d14ba3f4b9544b9f5da2c7d2bb_e4166766-a46c-4a60-bd02-4b918030895a_500x749.jpg?v=1573617187">-->
<!--                    </div>-->
<!--                </a>-->
            </div>
        </div>

        <div class="cast-container">
            <div class="title">
                <p>Cast:</p>
            </div>
            <div class="cast-card-container">
<!--                <a href="/person.html">-->
<!--                    <div class="person-card">-->
<!--                        <div class="card">-->
<!--                            <img src="https://imdb-api.com/images/original/nopicture.jpg">-->
<!--                        </div>-->
<!--                        <div class="person-description">-->
<!--                            <p>Jerome Patrick Hoban</p>-->
<!--                            <p>as "Ed Sullivan"</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </a>-->
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{block/footer :: footer}"></footer>
<script src="/js/header.js"></script>
<script type="module" src="/js/movie.js"></script>
</body>
</html>